.site-logo {
   width: 100%;
   height: 100%;
   background-image: url($logo);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
}

.site-header {
    min-height: 180px
}